<h1><%=t 'notification_mailer.hi_html', name: @user.name, username: @user.username %></h1>
<%=t 'notification_mailer.body_html' %>

<ul>
  <% @user.missing_months(Date.today.next_month.beginning_of_month).each do |month| %>
    <li><%= month.locale_name %></li>
  <% end %>
</ul>

<footer>
  <address><a href="https://serben.tk">serben.tk</a> staff</address>
</footer>